<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      .btn {
        width: 200px;
        margin-top: 62px;
        margin-bottom: 20px;
      }
      .btn-primary {
        background-color: rgba(210, 220, 255);
        color: rgba(3, 1, 112);
      }
      .btn-primary {
        border-radius: 13px;
        background-color: rgba(210, 220, 255);
        color: rgba(3, 1, 112);
        font-weight: bold;
        padding: 20px 21px 20px 21px;
        font-size: 20px;
      }
      .imgs {
        height: 70px;
      }
      .login {
        align-self: center;    
        margin-left: 58rem;
    }
      body {
        color: rgba(210, 220, 255, 1);
        background-color: rgba(3, 1, 112, 1);
      }
      .textonav {
        color: rgba(3, 1, 112, 1) !important;
        padding-top: 25px;
        padding-left: 40px !important;
        font-size: larger;
        font-weight: bold;
      }
      .logoh {
        margin-left: 15px;
      }
      .bg-light {
        background-color: rgba(210, 220, 255, 1) !important;
      }
      .foot {
        text-align: center !important;
        font-size: 15px;
        font-weight: bold;
        padding: 15px;
        word-spacing: 15px;
        color: rgba(3, 1, 112, 1);
      }
      .imgft {
        height: 50px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid d-flex ">
        <div class="navbar-nav">
          <a class="nav-link active logoh" aria-current="page" href="/"
            ><img
              class="imgs"
              src="https://pbs.twimg.com/media/FFAltJ4WQAQw0BK?format=png&name=240x240"
              alt="Home"
          /></a>
          <a class="nav-link textonav" href="/livros">Livros</a>
          <a class="nav-link textonav" href="/alunos">Alunos</a>
          <a class="nav-link textonav" href="/listaEmprestimo">Emprestados</a>
          <img
            class="text-right imgs login"
            src="https://pbs.twimg.com/media/FFAltJ3XEAU_3EE?format=png&name=120x120"
            alt="Login"
          />
        </div>
      </div>
    </nav>

    <section class="container">
      <div class="row">
        <div class="col">
          <div class="row mt-5 d-flex justify-content-center text-center">
            <div class="col-12">
              <h1 class="text-center mt-3" style="color: rgba(210, 220, 255)">
                SISTEMA BIBLIOTECÁRIO
              </h1>
            </div>
            <div class="container d-flex flex-column justify-center">
              <div class="row">
                <div class="col">
                    <a href="/alunos" class="btn btn-primary">LISTA DE ALUNOS</a>
                </div>
                <div class="col">
                  <a href="/livros" class="btn btn-primary">LISTA DE LIVROS</a>
                </div>
                <div class="col">
                    <a href="/listaEmprestimo" class="btn btn-primary">LISTA DE EMPRÉSTIMOS</a>
                  
                </div>
              </div>
              <div class="row mb-5">
                <div class="col">
                    <a href="/criar" class="btn btn-primary">CADASTRAR ALUNOS</a>
                </div>
                <div class="col">
                    <a href="/cadastrar" class="btn btn-primary">CADASTRAR LIVROS</a>
                    
                </div>    
                <div class="col">
                    <a href="/emprestimo" class="btn btn-primary">CADASTRAR EMPRÉSTIMO</a>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="foot bg-light">
      <p>Elle | Rauny | Elisa | Bernardo | Geisa</p>
      <img
        class="imgft"
        src="https://pbs.twimg.com/media/FFAltJ3WUAM-VhK?format=png&name=120x120"
        alt="logo"
      />
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="public/js/search.js"></script>
    <script src="public/js/validacao.js"></script>
  </body>
</html>
